<?xml version='1.0' encoding='utf-8'?>
<widget id="com.djplive.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DJP Live</name>
    <description>
        تطبيق الدردشة الحية DJP Live
    </description>
    <author email="contact@djplive.com" href="https://djplive.com">
        DJP Live Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="ShowTitle" value="true" />
    <feature name="http://api.phonegap.com/1.0/device" />
</widget>
